MSSQL_SA_PASSWORD=easyPassword123 #The password must be at least 8 characters long and contain characters from three of the f letters, Base 10 digits, and Symbols following four sets: Uppercase letters, Lowercase letters, Base 10 digits, and Symbols.
SQL_VOLUME_PATH=C:\\Docker\\SQL-SERVER-2019-PROD #/C/Docker/SQL-SERVER-2019-DEV